
body {
  font-family: "Fira Sans", "Open Sans", sans-serif;
  color:#ccc;
  background:black;
  margin:0; padding:0;
}

/* Layout */

#app {
  max-width:500px;
  background:#333;
  margin:1em auto;
  height:100%;
  padding:1em 0 2em;
  border-radius: 10px;
}

header {
  margin:0 0 2em; 
  padding:.5em .25em 0;
  text-align: center;
  background:#393939;
  border:1px solid #555;
  border-width: 1px 0;
}

h1 { 
  margin:0; padding:0; 
  font-style: italic;
  color:#aaa;
}

section {
  margin:1em 1em 2em;
  text-align: center;
}

/* Swatches */

#swatches {
  display: flex;
}

.swatch {
  height: 100px;
  width: 100px;
  position: relative;
  display: inline-block;
  margin: 5px;
  border: 0px solid #fff;
  background:#999;
  text-align:center;
  color:rgba(0,0,0,0.3);
  border-radius: 5%;
  flex:1;
  overflow: hidden;
}

.swatch span {
  display: block;
  position: relative;
  margin:-.75em auto 0;
  top:50%;
}



/* Buttons */

button {
  background:#444;
  padding:.25em .5em;
  color:#ccc;
  border: 0;
  box-shadow:none;
  outline:0;
  font-size:1.2em;
  border-radius:2px;
  margin:.1em;
}

button:hover, button.active {
  cursor:pointer;
  background:#777;
}

/* Selectors */

.selector {
  display: flex;
  flex-wrap: wrap;

   -webkit-justify-content: center;
   justify-content: center;
}

.selector button {
  flex:1 1 auto;
  overflow: hidden;
  min-width: 60px;
  max-width: 150px;
}


/* Sliders */

input[type=range]::-moz-focus-outer {
    border: 0;
    }

/* Draggables */

.draggable {
  cursor:move;
}

.draggable.is-pointer-down { }
.draggable.is-dragging { opacity: 0.7; }



/* Hue Selector */

#hue-slider {
  position:relative;
  width:380px;
  vertical-align: top;
  top:.25em;
  flex:2;
  background: transparent;
}

#hue-sample {
  height: 40px; width: 40px;
  margin:0 1em 0 0;
  background:#eee;
  flex:none;
}

#distance-slider {
  width:200px;
}


/* Demo */

#demo  { 
  position:relative; 
  height:200px; 
  margin:2em 1em; 
  background:#393939;
  border:1px dashed #555;

}
#demo div  { /* see shapes below */
  display: inline-block; position: absolute; 
  font-weight: 900;
  font-size: 1.25em;
  text-align:center;
  font-style: italic;
}

#demo .shuffle {
  position: absolute;
  top:5px;
  right: 5px;
  border:0;
  box-shadow: none;
  z-index:101;
  background:#444;
}

#demo .helper {
  position: absolute;
  bottom:0; right:4px;
  text-align:right;
  margin:0; padding:0;
  font-size:.6em;
  text-transform: uppercase;
  font-weight: 100;
  opactiy:.4;
}

/* Demo shapes  */

.shape0 {
  left:50%; top:50%; 
  margin:-50px 0 0 -50px;
  height: 100px; width: 100px;
  transform: rotate(45deg); 
  z-index:10;
}
.shape1 {
  left:50%; top:50%;
  margin:-40px 0 0 -40px;
  height: 80px; width: 80px;
  border-radius:50%;
  z-index:11;
}
.shape2 {
  left:50%; top:50%;
  margin:20px 0 0 -60px;
  height: 30px; width: 120px;
  z-index:12;
}
.shape3 {
  left:50%; top:50%;
  margin:22px 0 0 -75px;
  height: 30px; width: 150px;
  background:transparent !important;
  z-index:13;
}


